{block content}
    {control testForm}
    {control grid}
{/block}

{block js}
    <script>
        $(function () {
            // Basic instantiation:
            $('.color-input').colorpicker();
        });
    </script>
{/block}
