{block content}
    {control testForm}
    {control grid}
{/block}

{block js}
    <script>
        $(function () {
            // Basic instantiation:
            $('.color-input').colorpicker();
            $.nette.ext({
                success: function() {
                    $('.color-input').colorpicker();
                }
            });
        });
    </script>
{/block}
